:root.theme-light {
  --background-image: url(../images/cover-image-light.png);
  --background-color: #fff1f7;

  --accent-color: #ff8dcb;
  --details-accent-color: #353430;
  --title-color: #ffc2e6;
  --details-title-color: #353430;
  --color-pink: #ffc2e6;
  --color-card-text: #353430;
  --color-section-title: #353430;

  .decorated__rec {
    display: none;
  }

}

@media (prefers-color-scheme: light) {

  :root {
    --background-image: url(../images/cover-image-light.png);
    --background-color: #fff1f7;

    --accent-color: #ff8dcb;
    --details-accent-color: #353430;
    --title-color: #ffc2e6;
    --details-title-color: #353430;
    --color-pink: #ffc2e6;
    --color-card-text: #353430;
    --color-section-title: #353430;
  }

  .theme-light .decorated__rec,
  .theme-auto .decorated__rec {
    display: none;
  }

}
