.page {
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  height: 100vh;
  min-height: var(--min-height-main);
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  align-items: center;
  gap: 55px;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  padding-block-end: 66px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-inline: 1px solid var(--accent-color);
  border-block: 1px solid var(--accent-color);
}

.decorated-zone::before {
  top: 10px;
  right: 0;
  border-block-end: none;
  border-inline-start: none;
}

.decorated-zone::after {
  bottom: 10px;
  left: 0;
  border-top: none;
  border-right: none;
}

.decorated__rec {
  position: absolute;
  top: 13px;
  right: 24px;
  color: var(--accent-color);
  font-family: var(--font-family), monospace;
  font-size: 18px;
  line-height: 1.3;
  text-transform: uppercase;
  display: block;
}

.decorated__rec::after {
  content: '';
  position: absolute;
  top: 45%;
  right: -15px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  transform: translateY(-50%);
}

.header__theme-menu {
  grid-row: 1;
  justify-self: flex-end;
  align-self: flex-start;
  grid-column: 3 / 3;
  padding-top: 75px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 0 13px;
  color: var(--accent-color);
  font-family: var(--font-family), monospace;
  font-size: 18px;
  line-height: 1.2;
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border-inline: 1px solid
    color-mix(in sRGB, var(--accent-color) 40%, transparent);
  border-block: 1px solid
    color-mix(in sRGB, var(--accent-color) 40%, transparent);
}

.header__theme-menu-button_active {
  border-inline: 1px solid var(--accent-color);
  border-block: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

.header__title {
  grid-column: 1 / 4;
  justify-self: center;
  align-self: center;
  color: var(--color-pink);
  font-family: var(--font-family), monospace;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  text-transform: lowercase;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  background-color: var(--accent-color);
  font-family: var(--font-family), monospace;
  inline-size: 100%;
  justify-self: end;
  align-self: center;
  color: var(--title-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  grid-column: 1 / 4;
}

.main {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding-block-start: 40px;
  padding-block-end: 40px;
  gap: 40px;
}

.section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  gap: 20px;
}

.section__title {
  color: var(--accent-color);
  font-family: var(--font-family), monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  grid-column: 1 / 4;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-column: 1 / 4;
}

.card__title {
  font-weight: 400;
}

.card__text {
  color: var(--color-card-text);
  font-family: var(--font-family), monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.card__text-link {
  color: #f1b2ce;
  font-family: var(--font-family), monospace;
  text-shadow: 4px 2px 0 var(--accent-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  text-decoration: none;
}

.card__text-link:hover {
  border-block-end: 1px solid var(--color-card-text);
}

.card__text-link:focus-visible {
  border-inline: 1px solid var(--color-card-text);
  border-block: 1px solid var(--color-card-text);
}

.footer {
  height: 100vh;
  min-height: var(--min-height-main);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}

.footer__title {
  color: var(--color-pink);
  font-family: var(--font-family), monospace;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  text-transform: lowercase;
  text-shadow: 2px 2px 0 var(--accent-color);
}
